<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23J220</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>IntelI915Controller</string>
	<key>CFBundleIdentifier</key>
	<string>com.anomy.driver.IntelI915Controller</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IntelI915Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.5</string>
	<key>DTSDKBuild</key>
	<string>23F73</string>
	<key>DTSDKName</key>
	<string>macosx14.5</string>
	<key>DTXcode</key>
	<string>1540</string>
	<key>DTXcodeBuild</key>
	<string>15F31d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelIOFramebuffer</key>
		<dict>
			<key>AAPL,HasPanel</key>
			<true/>
			<key>IOClass</key>
			<string>IntelIOFramebuffer</string>
			<key>IOInterruptControllers</key>
			<array>
				<string>IOPCIMessagedInterruptController</string>
			</array>
			<key>IOInterruptSpecifiers</key>
			<array>
				<data>
				AQAAAA==
				</data>
			</array>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>GFX0</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9A498086</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>IOFramebufferUserClient</string>
			<key>built-in</key>
			<true/>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.4</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>585.2</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>290.8.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>20.6.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
